#item-editor {
  padding: 20px !important;
}

#item-editor .container-fluid {
  background-color: white;
  border-radius: 5px;
  min-height: 500px;
}

#item-editor-header {
  padding-top: 15px !important;
  padding-left: 30px !important;
  background-color: #203d88;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}

#close-button {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #1d3676;
  text-align: center;
  line-height: 30px;
  margin-right: 20px;
}

#close-button a { color: #fff }

#item-editor-breadcrumbs {
  margin: 20px 0px 10px 20px;
}

#toolbar {
  margin-top: 20px;
}

#toolbar img {
  background-color: #b7b8ba;
  padding: 5px 7px;
  border-radius: 4px;
}

#toolbar button {
  width: 71px;
  height: 30px;
  background-color: #203d88;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-left: 6px;
  margin-right: 20px;
}

#general-info-section {
  overflow: hidden;
  list-style-type: none;
  padding-left: 0px;
  border-bottom: 2px solid #2f4c98;
  background: linear-gradient(to bottom, #fff, #f2f3f3);
}

#general-info-section li {
  float: left;
  padding-left: 30px;
  padding-bottom: 10px;
  color: #c3c6c9;
}

#general-info-section li:first-child {
  color: #2f4c98;
  font-weight: bold;
}

#language-section {

}

.form-label {
  padding-top: 23px;
  padding-left: 30px;
  color: #7f7f7f;
  font-weight: bold;
}

.language-form-group {
  background-color: #f1f2f3;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
}

.item-editor-select, .item-editor-input {
  display: block;
  width: 100%;
  height: 50px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #a5a5a7;
  color: #7f7f7f;
  font-size: 15px;
}

.language-form-group select {
  margin-bottom: 10px;
  padding-left: 10px;
}

.language-form-group input {
  padding-left: 15px;
}

#tabs-section {
  margin-top: 15px;
  padding-left: 10px;
}

#tabs {
  border-bottom: 2px solid #203d88;
}

#tabs .nav-link {
  background-color: #c3c6c9;
  color: #fff;
  height: 40px;
  border: none;
}

#tabs .active {
  background-color: #203d88;
  height: 42px;
}

#tabs .nav-item:not(:first-child) {
  position: relative;
  top: 2px;
  margin-left: 4px;
}

#tabs-settings-icon {
  line-height: 40px;
  margin-right: 30px;
}
