#item-editor {
  padding: 20px !important;
}

#item-editor .container-fluid {
  background-color: white;
  border-radius: 5px;
  min-height: 300px;
}

#item-editor-header {
  padding-top: 15px !important;
  padding-left: 30px !important;
  background-color: #203d88;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}

#close-button {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #1d3676;
  text-align: center;
  line-height: 30px;
  margin-right: 20px;
}

#close-button a { color: #fff }

#item-editor-breadcrumbs {
  margin: 20px 0px 10px 20px;
}

#toolbar {
  margin-top: 20px;
}

#toolbar img {
  background-color: #b7b8ba;
  padding: 5px 7px;
  border-radius: 4px;
}

#toolbar button {
  width: 71px;
  height: 30px;
  background-color: #203d88;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-left: 6px;
  margin-right: 20px;
}
