.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    
  }

#header-tops {
    height: 80px;
    margin: 0 auto;
    background-color: #e4e6e8;
}

.nasko3 {
    padding: 20px;
}

.nasko3 .breadcrumb-el {
    border: 2px solid #dcdee0
}

/* 
    ====== HEADER BOTTOM ======
*/

.left-side {
    float: left;
    padding-left: 10px;
}

.left-side h3, .left-side img {
    display: inline;
    vertical-align: middle
}

.left-side h3 {
    color: #2f4c98;
}


.right-side {
    float: right;
    padding-right: 35px;

}

ul.rightIcons {
    list-style-type: none; 
    margin: 0;
    padding: 0
}

ul.rightIcons li {
    float: left;
    padding-left: 10px;  
}

/* 
     ====== SEARCH ======
*/

input#searchGrid {
    border: none;
    width: 95%;
    height: 34px;
    border-radius: 32px; 
    background: #fff;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 14px;
    
}

.inner-addon-search {
    position: relative;
  }
  

  .inner-addon-search .glyphicon {
    position: absolute;
    padding-right: 10px;
    padding-top: 12px;
    pointer-events: none;
  }

    /* align glyph */
    .right-addon-search .glyphicon { right: 0px;}

    
    
/* 
     ====== END SEARCH ======
*/
    
/*
    ====== EDIT BUTTON ======    
*/

.edit {
    background: #b7b8ba;
    color: #FFF;
    height: 34px;
    font-size: 14px;
    padding-right: 25px;
    outline: none
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.edit-arrow {
    background: #b7b8ba;
    border-left: 1px solid white;
    color: #FFF;
    height: 34px;
}

/*
    ====== NEW ITEM BUTTON ======    
*/

.new-item {
    background: #203d88;
    color: #FFF;
    height: 34px;
    font-size: 14px;
    padding-right: 25px;
    outline: none
}

.new-item-arrow {
    background: #203d88;
    border-left: 1px solid white;
    color: #FFF;
    height: 34px;
}

.dropdown-menu {
    font-size: 13px;
}

.new-item:focus,.new-item:active {
    outline: none !important;
    box-shadow: none;
 }

hr {
    clear: both;
    width: 100%;
    margin-top: 50px;
}

/*
    ====== TABLE HEADER ======    
*/

ul.header {
    list-style-type: none;
    overflow-x: auto;
}

ul.header li {
    float: left;
}

ul.header li .small_column {
    width: 10%;
}

ul.header li .middle_column {
    width: 15%;
}

ul.header li .big_column {
    width: 20%;
}

ul.header li {
    padding-left: 5px;
    padding-right: 5px;
}

table.table {
    margin-top: -15px;
    font-size: 13px;
    font-weight: 300;
    
}

table.table th {
    background: #e4e6e8;
    border-top: none;
    font-weight: 400;
    color: #42454b
}

table.table tr {
    background: #FFF;
    border-top: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    border-left: 5px solid #e4e6e8;
    border-right: 5px solid #e4e6e8;
}

table.table tr td {
    vertical-align: middle
}

table.table tr td.brand {
    font-weight: 700;
}

.circleGreen:before, .circleRed:before {
    content: ' \25CF';
    font-size: 20px;
  }

  .circleGreen:before {
      color: green;
  }

  .circleRed:before {
      color: red;
  }

  .progress, .progress-bar {
      height: 7px;
  }

  .progress-bar  {
    background: #24b2ab
  }

  .brandIcon img{
      margin-top: -5px;
  }


  @media(max-width: 991px) {


    .header-bottom {
        padding-left: 12px;
    }
    
    .right-side {
        clear: both;
        float: left;
        margin: 0;
        padding: 0;
    }

    ul.rightIcons {
        list-style-type: none; 
        margin-left: -10px;
        margin-top: 10px;
        padding-bottom: 10px;
        
    }

    ul.rightIcons li {
        float: left;
         padding-top: 10px; 
         padding-left: 4px;
         padding-bottom: 10px;
    }
 
    ul.rightIcons li:not(:first-child) {
        margin-left: 10px;
        padding-top: 10px;
    } 

    input#searchGrid {
        
        border: none;
        width: 110px;
        height: 34px;
        border-radius: 32px; 
        background: #fff;
        font-family: 'Fira Sans', sans-serif;
        padding-left: 10px;
        margin-left: 10px;

        font-size: 14px;
    }

  }
