body {
    background: #e4e6e8;
}
.sidebar {
    /*height: 100vh;*/
    background: white;
}



/*
 ====== SEARCH ======
*/

input#search {
    border: none;
    width: 90%;
    height: 35px;
    border-radius: 32px; 
    background: #e4e6e8;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 14px;
    z-index: 1;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding-right: 25px;
    padding-top: 8px;
    pointer-events: none;
    cursor: pointer;
  }

  .inner-addon img {
      cursor: pointer;
      z-index: 2;
  }

  #page-wrapper  .inner-addon img.glyphicon{
    cursor: pointer !important;
    z-index: 99999 !important;
  }
  
  /* align glyph */
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .right-addon input { padding-right: 30px; }
  

/*
 ====== Drop Down Categories ======
*/

.nasko {
    /* margin: 5px; */
    border: none;
}

.dropdown a.btn{
    width: 90%;
    height: 40px;
    border-radius: 0;
    background: #203d88;
    color: #FFF;
    /* margin-left: 9px; */
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.dropdown a.btn{
    display: block;
    margin: 0 auto;
}

.dropdown a.btn:active, .dropdown a.btn:visited, .dropdown a.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.nasko:before {
    content: "\02C5";
    font-weight: bold;
 }
 
 .btn:before {
     float: right;
     font-size: 12px;
     margin: 0 -1.1em 0 0;
     padding: 0 1.5em;
     pointer-events: none;
     text-align: center;
     width: 1em;
 }
/* 
 #dropdrown_menus {
     width: 90%;
     margin: 0;
     padding: 0;
 } */
/* 
 ====== BREADCRUMBS ====== 
 */



 .sub-cat {
    border-radius: 0;
    line-height: 15px;
    position: relative;
    margin-top: 0;
    border: none;
    width: 90%;
    margin: 0 auto;
    
}

 .sub-cat .nasko2 {
    color: #42454b;
    height: 37px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    background: #e4e6e8;
    padding-left: 5px;
    line-height: 30px;
    width: 100%;
    margin: 0 auto
    
 }

 .nasko2:before {
    /* font-family: FontAwesome; */
    content: url("../icons/sort.png");
    cursor: pointer !important;
 }

 span.dots {
    position: absolute;
    height: 82%;
    z-index: 2;
    width: 20%;
    border-radius: 15px;
    border: 2px solid #e4e6e8;
}

span.dots h4 {
    margin-top: -8px;
    color:#74767a;
    font-size: 30px;
    height: 20px;
    line-height: 20px;
    display: block;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
}

 span.cars {

    display: block;
    width: 45%;
    color:#74767a;
    border-radius: 15px;
    background: #d5d6d8;
    float: left;
    position: absolute;
    padding-left: 25%;
    z-index: 1;
    font-weight: bold;
    cursor: pointer
 }

 .dropdown-item:before {
     float: right;
     font-size: 12px;
     margin: 0 -1.1em 0 0;
     padding: 0 1.5em;
     pointer-events: none;
     text-align: center;
     width: 1em;
 } 

ul.nav li {
    margin-top: -2px;
}

 ul.nav li a {
     color: #42454b;
 }

 ul.nav li:not(:last-child) a img{
    width: 25px;
    margin-right: 15px;
    margin-top: -10px;
}

 ul.nav li a.activated {
     color: #203d88;
 }




 @media(max-width: 991px) {

    
    /* SIDEBAR REMOVE FOLDER ICON */
    ul.nav li.nav-item a img {
        display: none
    }

    ul.nav li:last-child{
       width: 0;
       margin-left: -20px; 
    }

    span.dots h4{
        /* display: none */
        font-size: 20px;
        padding-top: 5px;
        cursor: pointer;
    }

    span.cars {
        display: block;
        width: 45%;
        color:#74767a;
        border-radius: 15px;
        background: #d5d6d8;
        float: left;
        position: absolute;
        padding-left: 20%;
        z-index: 1;
        font-weight: bold;
     }
 }

 @media only screen and (min-width: 350px) and (max-width: 700px)  {
    .inner-addon .glyphicon {
        position: absolute;
        padding-right: 45px;
        padding-top: 8px;
        pointer-events: none;
      }
 }